* {
  box-sizing: border-box;
}

/* TODO: add box shadow, cursor pointer */

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  width: 80px;
  height: 116.16px;
}

img.back {
  content: url('./cards/card-back.jpeg');
}

.game-container {
  position: relative;
  width: 770px;
  height: 770px;
}

.border {
  position: relative;
  width: 80px;
  height: 116.16px;
  border: 2px solid gold;
  border-radius: 5px;
  z-index: 1;
}

.border img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.border img:nth-child(2) {
  transform: translateX(15px);
  z-index: -1;
}
.border img:nth-child(3) {
  transform: translateX(30px);
  z-index: -2;
}
.border img:nth-child(4) {
  transform: translateX(45px);
  z-index: -3;
}

.pile {
  --rotation: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform: rotate(var(--rotation));
}

.pile-1 {
  --rotation: 30deg;
}
.pile-1 .border {
  transform: rotate(-30deg);
}

.pile-2 {
  --rotation: 60deg;
}
.pile-2 .border {
  transform: rotate(-60deg);
}

.pile-3 {
  --rotation: 90deg;
}
.pile-3 .border {
  transform: rotate(-90deg);
}

.pile-4 {
  --rotation: 120deg;
}
.pile-4 .border {
  transform: rotate(-120deg);
}

.pile-5 {
  --rotation: 150deg;
}
.pile-5 .border {
  transform: rotate(-150deg);
}

.pile-6 {
  --rotation: 180deg;
}
.pile-6 .border {
  transform: rotate(-180deg);
}

.pile-7 {
  --rotation: 210deg;
}
.pile-7 .border {
  transform: rotate(-210deg);
}

.pile-8 {
  --rotation: 240deg;
}
.pile-8 .border {
  transform: rotate(-240deg);
}

.pile-9 {
  --rotation: 270deg;
}
.pile-9 .border {
  transform: rotate(-270deg);
}

.pile-10 {
  --rotation: 300deg;
}
.pile-10 .border {
  transform: rotate(-300deg);
}

.pile-11 {
  --rotation: 330deg;
}
.pile-11 .border {
  transform: rotate(-330deg);
}

.pile-center {
  transform: translateY(calc(50% - 58.08px));
}
